.badge-top{
	padding: 8px 10px 8px 0;
    border-bottom: 1px dashed #CDCDCD;
}

.badge-red{
	color: #F26C4F;
}

.badges{
	    margin-top: 10px !important;
}

.badges li{
	float: left;
    width: 132px;
    height: 180px;
    text-align: center;
}

.mg_img{
	    margin: 0 auto 5px;
	    padding: 10px;
    width: 76px;
    height: 76px;
    background: url(../img/badge/magic_imgbg.gif) no-repeat 0 0;
}
