<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>勋章</title>
		<!--当前页面的css文件-->
		<link rel="stylesheet" th:href="@{/css/antherpost.css}" />
		<link rel="stylesheet" th:href="@{/css/anther.css}" />
		<link rel="stylesheet" th:href="@{/css/common_style.css}" />

		<link rel="stylesheet" th:href="@{/css/dnf_index.css}" />
		<link rel="stylesheet" th:href="@{/css/person.css}" />
		<link rel="stylesheet" th:href="@{/css/badge.css}" />

		<!--引入layui css+ js-->
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
		<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>

		<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	</head>

	<body class="dnf_index">
	<div class="index_shadow">
		<div class="shadow_top">
			<div class="choose_module">
				<div class="headtop">
					<a class="collect" href="javascript:;" title="收藏本站"></a>
				</div>
				<div class="row_top">
					<div class="nv">
						<div class="nv1">
							<div class="nv1_tab">
								<a class="a" href="/index" hidefocus="true" title="BBS">
									<span>论坛首页</span>
								</a>
							</div>
							<div class="nv1_tab cut">
								<a class="a" hidefocus="true" title="切换版面">
									<span>切换版块</span>
								</a>
								<!--隐藏的模块-->
								<div class="nav_se">
									<div class="nav_se_l">
										<li>
											<a>游戏讨论</a>
										</li>
										<li>
											<a><span>官方专区</span></a>
										</li>
										<li>
											<a><span>灌水闲谈</span></a>
										</li>
										<li>
											<a><span>管理专区</span></a>
										</li>
									</div>
									<div class="nav_se_r">
										<ul>
											<li>
												<a href="/themepost/loadThemePostsByPage/1/1">综合讨论</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/2/1">体验服</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/3/1">论坛快讯</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/4/1">DNF中医馆</a>
											</li>
										</ul>
										<ul>
											<li>
												<a href="/themepost/loadThemePostsByPage/5/1">客服·BUG&amp;服务器</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/6/1">TP安全复查</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/7/1">DNF手游筹备区</a>
											</li>
										</ul>
										<ul>
											<li>
												<a href="/themepost/loadThemePostsByPage/8/1">月光酒馆</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/9/1">灌水闲谈</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/10/1">奶粉SHOW</a>
											</li>
										</ul>
										<ul>
											<li>
												<a href="/themepost/loadThemePostsByPage/11/1">论坛事务</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/12/1">非工作人员禁入</a>
											</li>
											<li>
												<a href="/themepost/loadThemePostsByPage/13/1">赛丽亚的小黑屋</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="nv1_tab">
								<a class="a" href="#" hidefocus="true" title="荣耀殿堂">
									<span>荣耀殿堂</span>
								</a>
							</div>
							<div class="nv1_tab">
								<a class="a" href="#" hidefocus="true" title="积分商城">
									<span>积分商城</span>
								</a>
							</div>
							<div class="nv1_tab">
								<a class="a" href="#" hidefocus="true" title="实名认证">
									<span>实名认证</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--登录显示-->
				<!--user为空的话-->
				<div class="login" th:if="${session.user} == null">
					<a class="aclogin" href="/login">登录</a>
					<a class="acsign" href="/register">注册</a>
				</div>

				<!--user不为空的话-->
				<div class="user" th:if="${session.user} != null">
						<span class="user_info">
							<!--头像-->
							<a class="avar" href="/user/headphoto" target="_blank">
								<img th:src="@{'/img/upload/'+${session.user.headphoto}}">
							</a>
							<div class="hd_prompt"></div>
							<!--个人列表list-->
							<div class="info">
								<a href="/user/info" style="margin-top:10px;" target="_blank" title="访问我的空间">
									<b th:text="${session.user.phone}">手机号码</b>
								</a>


								<a class="usgroup" href="/user/points">
									<label>无色小晶体</label>
								</a>

								<div class="head_hr"></div>

								<a href="#">每日签到</a>
								<div class="head_hr"></div>
								<a href="#" >消息中心</a>
								<a href="/user/info">个人中心</a>
								<a th:href="@{'/user/antherPosts/'+${session.user.uid}}">我的帖子</a>
								<!--<a href="#">我的收藏</a>-->
								<a class="logout" href="javascript:;" onclick="loginout()">退出登陆</a>
							</div>
						</span>
				</div>

			</div>
		</div>

	</div>
	<!--空白部分-->
	<div class="space_white">

	</div>

		<!--正文-->
		<section class="wp">
			<div class="bm">
				<div class="z">
					<a href="/index" class="nvhm" title="首页">地下城与勇士官方论坛</a>
					<em>›</em>
					<a href="javascript:;">勋章</a>
				</div>
			</div>
			<div class="person-info">
				<!--左边-->
				<div class="info-left">
					<h2 class="info-sz">勋章</h2>
					<ul>
						<li>
							<a href="javascript:;">勋章中心</a>
						</li>
					</ul>
				</div>
				<!--右边-->
				<div class="info-right">
					<div class="badge-top" th:if="${property}">目前有 金币数 <span class="badge-red"  th:text="${property.goldcoin}" >4</span> </div>
					<ul class="badges">
						<li class="chosebadge" th:each="badge : ${badges}" th:attr="bid = ${badge.bid}">
							<div class="mg_img">
								<img th:src="'/img/badge/'+${badge.badgeurl}" th:alt="${badge.badgeinfo}" style="margin-top: 8px;width:auto; height: auto;">
							</div>
							<p class="xw1" th:text="${badge.badgeinfo}">代号1026</p>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<script th:src="@{/js/jquery-1.8.3.js}"></script>
		<script th:inline="javascript">
			$(".chosebadge").click(function () {
			    var $this = $(this);
			    var user = [[${session.user}]];
			    if (user == null) {
			        layer.msg("请登录后在购买！");
				}else{
                    layer.confirm('您确定要花费1金币购买这个勋章吗？', {
                        btn: ['确定', '取消'] //可以无限个按钮
                    }, function(index, layero){
                        //按钮【按钮一】的回调
                        //购买徽章ajax
                        $.ajax({
                            type: "POST",
                            dataType: "text",
                            url: "/user/buyBadge/"+$this.attr("bid"),
                            success: function(data){
                                layer.msg(data);
                                setTimeout(function(){
                                    window.location.href = "/badge";
                                },1000);
                            }
                        });

                    }, function(index){
                        //按钮【按钮二】的回调

                    });
				}

            })


            function loginout(){
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "/user/loginout",
                    success: function(data){

                        layer.msg(data,{icon: 1,time: 1000});
                        setTimeout(function(){
                            window.location.href = "/index";
                        },1000);
                    }
                });
            }
		</script>
		
	</body>

</html>